<!-- <body>
  <div class="box">
    <div class="form">
      <h2>Sign in</h2>
      <div class="inputBox">
        <input type="email" required="required" [(ngModel)]="administrador.Correo">
        <span>Usuario</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="password" required="required" [(ngModel)]="administrador.Password">
        <span>Contraseña</span>
        <i></i>
      </div>
      <br>
      <div class="links">
        <a href="#">Olvido su Contraseña</a>
      </div>
      <input type="submit" value="Login" class="btn float-right login_btn" (click)="Acceder()">
    </div>
</div>
</body> -->
<body>
  <section>
    <div class="contenedor">
      <div class="formulario">
        <form action="#">
          <h2>Iniciar Sesion</h2>
          <div class="input-contenedor">
            <input type="email" required>
            <label for="#">Email</label>
          </div>
          <div class="input-contenedor">
            <input type="password" required>
            <label for="#">Contraseña</label>
          </div>
          <div class="olvidar">
            <label for="#">
              <input type="checkbox"> Recordar
              <a href="#">Olvide la Contraseña</a>
            </label>
          </div>
        </form>
        <div>
          <button (click)="Acceder()">Acceder</button>
          <div class="registrar">
            <p>No tengo cuenta <a href="#">Crear Cuenta</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
