<div class="barra-lateral">
  <div class="nombre-pagina">
    <i id="cloud" class="bi bi-wrench-adjustable-circle-fill"></i>
    <span>Ferreplast</span>
  </div>
  <nav class="navegacion">
    <ul>
      <li>
        <a routerLink="/inicio" routerLinkActive="active">
          <i class="bi bi-house"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/acceso" routerLinkActive="active">
          <i class="bi bi-person-fill"></i>
          <span>Accesos</span>
        </a>
      </li>
      <li>
        <a routerLink="/categorias" routerLinkActive="active">
          <i class="bi bi-bookmark-plus"></i>
          <span>Categorias</span>
        </a>
      </li>
      <li>
        <a routerLink="/productos" routerLinkActive="active">
          <i class="bi bi-border-all"></i>
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a routerLink="/ventas" routerLinkActive="active">
          <i class="bi bi-border-width"></i>
          <span>Ventas</span>
        </a>
      </li>
      <li>
        <a routerLink="/reportes" routerLinkActive="active">
          <i class="bi bi-bar-chart"></i>
          <span>Reportes</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
